{% extends 'aapp/base.html' %}
{% load static %}
{% static "images" as baseUrl %}



{% block blog %}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
       {% for post in posts %}
    
         <h3><a href="{% url 'details' post.id %}">{{post.title}}</a></h3>
           <a href="{% url 'details' post.id %}"> <img  src="{{post.image.url}}" alt="{{post.alter}}"  width="800"></a>
      <div class="clr"></div>


<!--           <h5> {{post.post_date}}</h5>
          <div class="clr"></div>
          <p>Posted by <a href="#">Admin</a> <span>&nbsp;&bull;&nbsp;</span> Filed under <a href="#">templates</a>, <a href="#">internet</a></p> -->

          <p>{{post.content|slice:'400'}} ... <a href="{% url 'details' post.id %}"><span>читать</span> </p></a>

        <hr> 

{% endfor %}
         
         <br>
         <br>
         <br>
         <br>

        {% include 'aapp/pagination.html' with page=posts %}



      </div>
    </div>
  </div>


{% endblock %}

