
{% extends 'aapp/base.html' %}
{% load static %}
{% static "images" as baseUrl %}


{% block contact %}
 <!--
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        
          <h2><span>Контакты<span></h2>
          <div class="clr"></div>

          <p>Адрес: 199004, САНКТ-ПЕТЕРБУРГ, ЛИНИЯ 4-Я В.О., 5, ЛИТЕР А, ПОМ. 22 Н</p>
          <p><i class="fas fa-subway"></i> Метро : Василеостровская</p>
          <p>теле/факс: 8 (812) 587-93-94</p>
          <p>E-mail:<a href="#"> islaminspb@gmail.com</a> 


       <!--   <h3><span>Подписывайтесь!</span> </h2> 
        <h1>
        <a href="https://vk.com/islaminspb"><i class= "fab fa-vk"></i></a>
        <a href="https://www.facebook.com/islaminspb/"><i class= "fab fa-facebook"></i></a> 
        <a href="https://www.youtube.com/channel/UC48ySRF8UfZ-gS9P5Q9DdrA"><i class= "fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/invites/contact/?i=1tbtowscju3lv&utm_content=dm9kutn"><i class= "fab fa-telegram"></i></a> --> 
<!--         <a href="#"><i class= "fab fa-whatsapp"></i></a>
 -->        </h1>


<!--           <h2><span>Send us</span> mail</h2>
          <div class="clr"></div> -->
<!--           <form action="#" method="post" id="sendemail">
            <ol>
              <li>
                <label for="name">Name (required)</label>
                <input id="name" name="name" class="text" />
              </li>
              <li>
                <label for="email">Email Address (required)</label>
                <input id="email" name="email" class="text" />
              </li>
              <li>
                <label for="website">Website</label>
                <input id="website" name="website" class="text" />
              </li>
              <li>
                <label for="message">Your Message</label>
                <textarea id="message" name="message" rows="8" cols="50"></textarea>
              </li>
              <li>
                <input type="image" name="imageField" id="imageField" src="static/images/submit.gif" class="send" />
                <div class="clr"></div>
              </li>
            </ol>
          </form> 
      </div>
    </div>
  </div>-->
{% endblock %}

